@charset "UTF-8";


a {
	color:yellow;
}

a:active {
	color:springgreen;
}
a:hover {
	color:hotpink;
}

a::selection {
	color:hotpink;
}

h1 a {
	color:springgreen;
}

h2 ul li{
	color:white;
}
.bgimage {
	background-image:url(../img/girl.jpg);
	height:200px;
	width: 320px;
	position:relative;
	float:right;
	color:springgreen;
	background-color:black;
}
body  {
	background-color: black;
}

p {
	color:white;
}
