a {
	color:yellow;
}

a:active {
	color:springgreen;
}
a:hover {
	color:hotpink;
}

a::selection {
	color:hotpink;
}

h1 a {
	color:springgreen;
}

.container dl {
	color:white;
}
.container dd {
	color:lightslategrey;
	font-size:1.25em;
}

body  {
	background-color: black;
}

p {
	color:white;
}
header {
	background-color:black;
}
.lead {
	font-size:1.5em;
}
.bgimage {
	background-image:url(../img/koifish.png);
	background-repeat: no-repeat;
	height:250px;
	width: 193px;
	position:relative;
	float:right;
	color:springgreen;
	background-color:black;
}
.container#objective {
	background-color:black;
	padding:15px;
	border:15px solid darkgray;
	margin:15px;
}

.container dt {
	text-shadow:#888 2px 2px 3px;
	color:lightgrey;
	font-weight:bold;
	font-size:1.25em;
}
